@font-face {
  font-family: 'ggSans';
  src: url('fonts/gg-sans/gg sans Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.displayname {
  color: white;
  display: block;
  font-family: 'ggSans', Arial, sans-serif;
  font-weight: bolder;
  font-size: 1vw; /* Font-size em porcentagem */
}

.text {
  color: white;
  display: flex;
  font-family: 'ggSans', Arial, sans-serif;
  font-size: 1vw; /* Font-size em porcentagem */
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #0f0f11;
  margin: 0;
}

.player-container {
  margin-top: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #232528;
  border-radius: 10px;
  box-shadow: 0 4vw 10vw rgba(0, 0, 0, 0.1);
  width: 25vw;
  max-width: 50vw; /* Mantém a largura em porcentagem para responsividade */
  padding: 20;
}

.banner-container {
  position: relative;
  width: 100%;
}

.banner {
  width: 100%;
  border-radius: 0;
  z-index: -1;
}

.avatar {
  box-shadow: 0 0 0 .8vw #232528, 0 0 0 .8vw #232528;
  width: 7vw; /* Responsividade para a largura do avatar */
  border-radius: 50%;
  position: absolute;
  left: 1.5vw; /* Responsividade na posição */
  transform: translateY(50%);
  bottom: -.3vw;
  z-index: 1;
  background-color: #232528;
}

.avatar::before {
  content: "";
  position: absolute;
  top: -2vw;
  left: -2vw;
  width: calc(100% + 4vw);
  height: calc(100% + 4vw);
  border-radius: 50%;
  background-color: #232528;
  z-index: -1;
}

.text-container {
  margin-top: 5%;
  width: 120%;
  padding: 4vw; /* Padding em porcentagem */
}

.marginleft {
  margin-left: 5vw; /* Margin-left em porcentagem */
}

.box {
  display: flex;
  align-items: center;
}

.emoji {
  height: 1.5vw; /* Tamanho do emoji responsivo */
  margin-right: 1vw;
}
