@font-face {
  font-family: 'ggSans';
  src: url('fonts/gg-sans/gg sans Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.displayname {
  color: white;
  display: block;
  font-family: 'ggSans', Arial, sans-serif; /* Aplica a fonte personalizada */
  font-weight: bolder;
  font-size: 20px;
}

.text {
  color: white;
  display: block;
  font-family: 'ggSans', Arial, sans-serif; /* Aplica a fonte personalizada */
  font-size: 16px;
}


body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0f0f11;
  margin: 0;
}

.player-container {
  background-color: #232528;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90vw;
  max-width: 600px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.banner-container {
  position: relative;
  width: 100%;
}

.banner {
  width: 100%;
  border-radius: 0;
  z-index: -1;
}

.avatar {
  box-shadow: 0 0 0 5px #232528, 0 0 0 10px #232528; /* Ajusta contorno e círculo maior */
  width: 130px;
  height: 130px; /* Assegura que a altura também seja igual à largura */
  border-radius: 50%; /* Faz o avatar ser circular */
  position: absolute;
  left: 20px; /* Mantém o avatar à esquerda */
  transform: translateY(50%); /* Desce o avatar para alinhar com a parte inferior do banner */
  bottom: -5px; /* Ajusta para encostar no banner sem gap */
  z-index: 1; /* Coloca o avatar acima da camada do banner */
  
  /* Criação de um círculo de fundo maior */
  background-color: #232528; /* Mesmo tom que o contorno para evitar gaps */
}

.avatar::before {
  content: "";
  position: absolute;
  top: -5px; /* Ajusta o tamanho do círculo maior */
  left: -5px;
  width: calc(100% + 10px); /* Faz o círculo maior do que o avatar */
  height: calc(100% + 10px);
  border-radius: 50%; /* Mantém a forma circular */
  background-color: #232528; /* Cor do círculo de fundo */
  z-index: -1; /* Garante que o círculo fique atrás do avatar */
}


.text-container {
  margin-top: 11%; /* Ajustar a margem para descer os textos, se necessário */
  text-align: left;
  width: 100%;
  padding: 20px;
}


.marginleft {
  margin-left: 20px;;
}

.box {
  display: flex;
  align-items: center;
}

.emoji {
  height: 20px;
  margin-right: 5px;
}
